@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.containerItens{
    padding: 3%;
    background-color: var(--cinza);
}

.containerItens h1{
    color: var(--laranja);
    font-size: 2em;
}
