.fone{
    margin-top: 10%;
    margin-bottom: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 390px;
}

.fone img{
    width: 70%;
    height: 300px;
    box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.411);
}

.fone .buttonLink{
    cursor: pointer;
    border-radius: 4px;
    background: none;
    border: 1px solid var(--laranja);
    color: white;
    padding: 3% 2%;
    transition-duration: 0.60s;
    transition: 0.60s;
    box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.411);
    text-decoration: none;
}

.fone .buttonLink:hover{
    background: var(--preto);
    color: var(--laranja);
}