header{
    display: flex;
    background-color: var(--preto);
    width: 100%;
    padding: 3%;
}

.ladoEsquerdo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 1%;
    width: 55%;
}

.ladoDireito{
    padding: 1.2% 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
}

.textos{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.textos h1{
    font-size: 3.5em;
}

.textos p{
    font-size: 1.2em;
    margin-top: 1%;
    color: var(--laranja);
}

.ladoDireito .img-titulo{
    width: 35%;
}

@media (min-width: 260px) and (max-width:750px){
    header{
        padding: 15% 3%;
    }
    
    .ladoDireito{
        display: none;
    }

    .ladoEsquerdo{
        align-items: center;
        width: 100%;
    }

    .textos h1{
        font-size: 1.6em;
    }

    .textos p{
        font-size: 1em;
    }
}