.sectionInfo{
    width: 100%;
    background-color: var(--cinza);
    padding: 3%;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.sectionInfo h1{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2em;
    color: var(--laranja);
    margin-top: 1%;
    margin-left: 4%;
}

.sectionInfo .ladoEsquerdo-2{
    width: 70%;
    align-items: flex-start;
}

.sectionInfo .ladoEsquerdo-2 p{
    font-size: 1.3em;
    line-height: 1.5;
    display: flex;
    margin-top: 3%;
}

.sectionInfo .ladoDireito-2{
    width: 30%;
    align-items: center;
}

.sectionInfo img{
    height: 220px;
}

@media (min-width: 260px) and (max-width:750px){
    .sectionInfo{
        flex-direction: column;
        padding: 15% 3%;
    }

    .sectionInfo h1{
        margin-left: 0;
        position: relative;
    }

    .sectionInfo .ladoEsquerdo-2 p{
        font-size: 0.80em;
    }

    .sectionInfo .ladoEsquerdo-2{
        width: 100%;
        align-items: flex-start;
    }
    
}

@media (min-width: 100px) and (max-width: 300px){
    .sectionInfo .ladoEsquerdo-2 p{
        font-size: 0.80em;
    }
}